* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    font-family: 'IBM Plex Mono', monospace;
    background-color: #00274e;
}

.screen {
    width: calc(100% - 200px);;
    height: calc(100% - 200px);;
    margin: 100px;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    background-color: #071124;
}

.header h1 {
    color: #97ffff;
}

.workspace {
    border-top: 3px double #97ffff;
    border-bottom: 3px double #97ffff;
    padding: 30px;
    display: grid;
    gap: 5px;
    background-color: #071124;
    flex-grow: 5
}

.workspace p {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-size: 14px;
    color: #97ffff;
    border-radius: 4px;
    width: 100%; /* Maintain responsiveness */
    height: 100%; /* Prevent shifting */
    overflow: visible;
}

.footer {
    background-color: #071124;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footer div {
    margin: 30px;
    padding: 5px;
    width: 100%;
    border: 2px solid #97ffff;
}

.footer p {
    text-align: center;
    color: #97ffff;
}

#cursor-highlight {
    position: fixed;
    width: 120px; /* Size of the brightened area */
    height: 120px;
    border-radius: 50%; /* Make it circular */
    pointer-events: none; /* Ensure it doesn't block interactions */
    background: radial-gradient(circle, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0) 70%);
    transform: translate(-50%, -50%); /* Center the circle at the cursor */
    mix-blend-mode: screen; /* Blend the highlight with the background */
    z-index: 1000; /* Ensure it appears above everything else */
    transition: background 0.2s ease-out; /* Smooth transition for dynamic effects */
}